/*
 * Created by NumEricR
 * See: https://github.com/NumEricR/my.dotjs.scripts
 *
 * License: WTFPL - Do What The Fuck You Want To Public License
 * https://github.com/NumEricR/my.dotjs.scripts/blob/master/License.txt
 */

/* Hide Facebook button "Add tot Timeline" */
#special-button,
/* Hide mobile app links */
#headbar-android-app-no-toggle,
/* Hide feedback button */
.feedback-button {
	display: none;
}

/* Don't use a fixed header */
#headbar-wrap.fixed {
	position: static;
}
body {
	padding-top: 0;
}

/* Don't change position of actions bar while scrolling a post */
#post-control-bar {
	position: absolute !important;
	top: 90px !important;
}

/* Change colors to use a dark theme */
/* =========== ========= =========== */
body {
	background-color: #333;
}
a,
#view-info .keyboard_link {
	color: mediumblue;
}
a:hover,
#view-info .keyboard_link:hover {
	color: darkslateblue;
}
/* Hide that seems to be a useless string */
.green-pea {
	left: -1000px !important;
}
#entry-list,
#entry-list.list ul.col-1 li .content .fatbigdick,
.list-tips,
#pagination {
	background-color: #999;
}
#entry-list.list ul .info h5,
#entry-list.list ul .info p {
	color: #000;
}
#entry-list.list ul.col-1 li {
	border-bottom-color: #000;
}

#view-info {
	border-bottom-color: #000;
}
.list-tips {
	text-shadow: none;
}

/* Actions box */
#entry-list.list ul .info ul.actions,
.sharing-box ul.sharing {
	background-color: #ccc;
	box-shadow: none;
}
#entry-list.list ul .info ul.actions li a:hover {
	background-color: #bbb;
}

/* Pagination box */
#pagination {
	border-top-color: #000;
	box-shadow: none;
}
#pagination a {
	background-color: navy;
	box-shadow: none;
}

/* Social block */
.side-dock .message-block,
.side-dock .feature-people,
.side-dock .social-block,
.side-dock .tags-block {
	background-color: #999;
	box-shadow: none;
	text-shadow: none;
}
.side-dock .social-block .twitter-follow,
.side-dock .social-block .weibo-follow,
.side-dock .social-block .google-plus,
.side-dock .social-block .other-social {
	border-top-color: #000;
    box-shadow: none;
}

/* Popular posts & Recommanded lists */
.side-dock .popular-block,
.side-dock .popular-block h3 {
	color: #ddd;
	text-shadow: none;
}
.side-dock .popular-block h3 a,
.side-dock .popular-block h3 a:hover {
	color: #24BBFF;
}
.side-dock .popular-block h4 {
	color: #ccc;
}

/* Side footer */
.side-foot .wrap {
	text-shadow: none;
}
.side-foot .fade {
	background: none;
}
.side-foot .text {
	background: transparent;
}
.side-foot ul.info.footer-left li,
.side-foot ul.info.footer-right li a {
	color: #ccc;
}
.side-foot ul.info.footer-left li a {
	color: #24BBFF;
}

/* Footer */
#footer .section-2 {
	text-shadow: none;
}
.side-foot ul.info.footer-right li a,
#footer .section-2 ul.info li a {
	border-bottom: 0;
}
/* =========== ========= =========== */
