/*
 * Created by NumEricR
 * See: https://github.com/NumEricR/my.dotjs.scripts
 *
 * License: WTFPL - Do What The Fuck You Want To Public License
 * https://github.com/NumEricR/my.dotjs.scripts/blob/master/License.txt
 */

/* Align search box on right gutter */
#head_logo td + td + td {
	display: none;
}
#head_logo td + td {
	padding: 0 5px 5px 0;
	text-align: right;
}

/* Minimize grey pattern on header */
#head_line + div {
	height: 30px !important;
}

/* Hide tags list */
body > div > div[align] {
	display: none;
}
#main {
	margin-top: 10px;
}

/* Change Prev & Next links */
#news > div[align] {
	width: 100% !important;
	font-size: 22px !important;
}

/* Change pager links */
#page {
	color: #999;
	font-size: 13px;
	text-align: center;
}
#page a:nth-child(n+10) {
	display: none;
}

/* Minimize space between content and footer */
#main + div {
	height: 30px !important;
}

/* Minimize grey pattern height above footer */
#main + div + div {
	height: 40px !important;
}

/* Minimize bottom space */
#foot_main table + table {
	padding-top: 20px !important;
}
#foot_main table + table tr + tr {
	display: none;
}
