/*
 * Created by NumEricR
 * See: https://github.com/NumEricR/my.dotjs.scripts
 *
 * License: WTFPL - Do What The Fuck You Want To Public License
 * https://github.com/NumEricR/my.dotjs.scripts/blob/master/License.txt
 */

/* Add more space between tab name and options link */
#divTabs ul li img.actions-tab-options {
	margin-left: 8px;
}

/* Delete unused features and useless elements */
#addContentLink .text,
#analyseLink,
#switch-view,
#userPages,
#userPages + .separator,
#userProfile img,
#userProfile .text,
#userProfile .vip,
#topLinks,
#footer-toggle .poweredby {
	display: none !important;
}

#contentAnalyseContainer .left-drawer {
	padding-right: 0;
}

#divTabs {
	margin-top: 10px;
}

/* Higlight unread counters */
#divTabs .unread,
.moduleHeader .title .unread {
	color: lawngreen;
}

#footer-toggle {
	padding-left: 5px;
}
