/*
 * Created by NumEricR
 * See: https://github.com/NumEricR/my.dotjs.scripts
 *
 * License: WTFPL - Do What The Fuck You Want To Public License
 * https://github.com/NumEricR/my.dotjs.scripts/blob/master/License.txt
 */

/* Remove opacity on top bar and change color */
#sph-wrap {
	background-color: darkslategrey;
}

/* Hide sample book block */
#sitepointcontextualcontentmanagerwidget-2,
/* Hide newletter block */
#sitepointcontextualcontentmanagerwidget-3,
/* Hide some links */
/*   - Deals */
#sph-wrap #menu-item-58314,
#thesis_nav_wrap li:nth-child(4),
/*   - Bookstore */
#sph-wrap #menu-item-58315,
#thesis_nav_wrap li:nth-child(5),
/*   - Market */
#sph-wrap #menu-item-58324,
#thesis_nav_wrap li:nth-child(6) {
	display: none;
}

/* Decrease footer height */
.custom #footer {
	padding: 30px 0;
}
