/*
 * Created by NumEricR
 * See: https://github.com/NumEricR/my.dotjs.scripts
 *
 * License: WTFPL - Do What The Fuck You Want To Public License
 * https://github.com/NumEricR/my.dotjs.scripts/blob/master/License.txt
 */

/* Decrease global page spacing */
body {
	margin: 10px 0 0;
}
body > br:first-of-type {
	display: none;
}


/* HOME ######### */

/* Remove presentation content above search box */
body.wimp-home > table:nth-of-type(2) td[colspan='2'] b,
body.wimp-home > table:nth-of-type(2) td[colspan='2'] br,
body.wimp-home #About {
	display: none;
}

/* Add padding above search box */
body.wimp-home > table:nth-of-type(2) {
	padding-top: 20px;
}

/* Add a blank space after HP footer */
body.wimp-home {
	margin-bottom: 10px;
}


/* VIDEO PAGES ######### */

/* Remove iOS app reminder */
body.not-wimp-home > table:nth-of-type(3),
body.not-wimp-home > table:nth-of-type(3) + br,
/* Remove footer */
body.not-wimp-home > table:last-of-type {
	display: none;
}

/* Display search box next to title block */
body.not-wimp-home > table:first-of-type {
	float: left;
	width: 46%;
	margin-left: 38px;
}
body.not-wimp-home > table:first-of-type + br {
	display: none;
}
body.not-wimp-home > table:nth-of-type(2) {
	height: 63px;
    width: 46%;
	margin-right: 38px;
}
body.not-wimp-home > table:nth-of-type(2) + br {
	clear: both;
}

/* Add padding above video title */
body.not-wimp-home > table:nth-of-type(4) {
	padding-top: 10px;
}

/* Customize video title */
body.not-wimp-home > table:nth-of-type(4) table td[colspan='3'][style] {
	font-size: 16px;
}

/* Reduce space between video title and navigation links */
body.not-wimp-home > table:nth-of-type(4) table[width='560'] tr:first-child + tr td[align='center'] {
	padding-top: 0 !important;
}

/* Change color on Prev, Next & random links */
body.not-wimp-home > table:nth-of-type(4) table[width='560'] tr:first-child + tr a {
	color: #666;
	font-size: 1em !important;
	font-weight: normal;
	text-decoration: none;
}
body.not-wimp-home > table:nth-of-type(4) table[width='560'] tr:first-child + tr a:hover {
	text-decoration: underline;
}
